<section id="intromessage">
        <div class="contBackground">
    
        </div>
        <div class="row insIntroBack">
            <div class="col-lg-4 col-lg-offset-4 insMessage">
                <h1> Get in Touch </h1>
            </div>
        </div>

        <div class="container contBox">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h2> Send us your Info, and we will reach out to you. </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3 nameBox">
                    <p>FIRST</p>
                </div>
                <div class="col-lg-3 nameBox">
                    <p>LAST</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 nameBox">
                    <p>EMAIL</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 nameBox">
                        <p>REASON FOR CONTACT</p>
                </div>
            </div>
        </div>
</section>