<section id="footer">
        <div class="container-fluid footerContainerAlt">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3 contactIcons" style="text-align: right;">  
                    <a href="https://www.facebook.com/Bellbrook-Vision-Center-109839255763370/" target="_blank"><img src="../img/icons/facebookLogo.png" /></a>
                </div>
                <div class="col-lg-3 contactIcons" style="text-align: left;">
                    <a href="https://www.linkedin.com/company/bellbrook-vision-ctr/" target="_blank"><img src="../img/icons/linkedinLogo.png" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p style="margin-top: 5px;">iDoctor 2019&copy; </p>
                </div>
            </div>
        </div>
    </section>