    <div class="row headerBackground">
        <div class="col-lg-5 col-md-5 leftTitle">
            <p>
                <strong>Hours:</strong> Monday - Friday 9am to 5pm
            </p>
            <p>
                <strong>Phone:</strong> 937.748.3937
            </p>
        </div>
        <div class="col-lg-2 col-md-2 mainTitle">
            <h1 class="mainTextBorder">
                iDoctor
            </h1>
            <p class="subTextStyling">
                eye care.
            </p>
        </div>
        <div class="col-lg 5 col-md-5 rightTitle">

        </div>
    </div>
