   <div class="row headerBackground">
        <div class="col-lg-5 col-md-5 leftTitle">
            
        </div>
        <div class="col-lg-2 col-md-2 mainTitle">
            <h1 class="mainTextBorder">
                <a style="text-decoration: none;" href="/index.html">iDoctor</a>
            </h1>
            <p class="subTextStyling">
                Bellbrook Vision | Springboro Eye Care
            </p>
        </div>
        <div class="col-lg-1 col-md-1 rightSpacer">
            
        </div> 
        <div class="col-lg-1 col-md-1 headerButtons" >
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Frames</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/frames.html#framesSlider">Calvin Klein</a>
                  <a href="/frames.html#framesSlider">Fossil</a>
                  <a href="/frames.html#framesSlider">Jimmy Choo</a>
                  <a href="/frames.html#framesSlider">Juicy Couture</a>
                  <a href="/frames.html#framesSlider">Lilly Pulitzer</a>
                  <a href="/frames.html#framesSlider">Michael Ryen</a>
                  <a href="/frames.html#framesSlider">Safilo</a>
                  <a href="/frames.html#framesSlider">Silhouette</a>
                </div>
              </div>
        </div>
        <div class="col-lg-1 col-md-1 headerButtons" >
            <div class="headerButtons">
                <a href="/insurance.html" style="text-decoration: none; color: black;"> Insurance </a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 headerButtons" >
            <div class="headerButtons">
                <a href="/services.html" style="text-decoration: none; color: black;"> Services </a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 headerButtons" >
            <div class="headerButtons">
                <a href="/contact.html" style="text-decoration: none; color: black;"> Contact </a>
            </div>
        </div>
       
    </div>
