<section id="intromessage" >
    <div class="introBackground">
        <div class="container">
            <!-- start .row 1-->
            <div class="row introContainer">
                <div class="col-lg-4 introText">
                    <h2 class="">
                        Focus on Life <br />
                        Through New Lenses.
                    </h2>
                    <div class="introButton">
                        <h3><a href="#" style="text-decoration: none;" >Get Started</a></h3>
                    </div>
                </div>
                <div class="col-lg-2 col-lg-offset-4 introLinks">
                    <h3 class="linkText"><a href="#" class="linkController" style="text-decoration: none;">Frames</a></h3>
                </div>
                <div class="col-lg-2 introLinks">
                    <h3 class="linkText"><a href="#" class="linkController" style="text-decoration: none;">Insurance</a></h3>
                </div>

            </div>
            <!-- end .row 1 -->
            <!-- Scroller icon  -->
            <div class="row scrollerIconContainer">
                <div class="col-lg-2 col-lg-offset-5 scrollerIconBox">
                    <a href="#" ><img class="animation-target" src="../img/icons/down-arrow.png" width="50px"/></a>
                </div>
            </div>

        </div>

    </div>
</section>