<section id="intromessage" >
    <div class="introBackground">
        <div class="container">
            <!-- start .row 1-->
            <div class="row introContainer">
                <div class="col-lg-12 introText">
                    <h1 class="mainText">
                        Focus on Life <br />
                        Through New Lenses.
                    </h1>
                    <div class="introButton">
                        <h3><a href="/services.html" style="text-decoration: none; text-align: center; font-size: 2em;" >Get Started</a></h3>
                    </div>
                </div>

            </div>
            <!-- end .row 1 -->
            <!-- Scroller icon  -->
            <div class="row scrollerIconContainer">
                <div class="col-lg-2 col-lg-offset-5 scrollerIconBox">
                    <a href="#" ><img class="animation-target" src="../img/icons/down-arrow.png" width="50px"/></a>
                </div>
            </div>

        </div>

    </div>
</section>