<section id="insurance">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-4 col-lg-offset-4" style="margin-bottom: -75px; border-bottom: 1px solid black; text-align:center;" >
                <h2 style="font-size: 3em">Insurance <br />Providers</h2>
            </div>
        </div>
        <div class="row insuranceSlider">
            <div class="col-lg-4 tile">
                <img src="../img/logos/AetnaLogo.png" width="100%"  />
            </div>
            <div class="col-lg-4 tile">
                <img src="../img/logos/DavisVisionLogo.png" width="100%"  />
            </div>
            <div class="col-lg-4 tile" style="padding-top: 1em !important">
                <img class="adj" src="../img/logos/VSPLogo.png" width="200px"  />
            </div>
            <div class="col-lg-4 tile" style="padding-top: 1em !important">
                <img class="adj" src="../img/logos/EyeMedLogo.png" width="190px"  />
            </div>
            <div class="col-lg-4 tile">
                <img src="../img/logos/AnthemLogo.png" width="100%"  />
            </div>
            <div class="col-lg-4 tile">
                <img class="adj2" src="../img/logos/MediMutual.png" width="250px"  />
            </div>
        </div>
    </div>
</section>