<section id="insurance">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-4 col-lg-offset-4" style="margin-bottom: -75px; border-bottom: 1px solid black; text-align:center;" >
                <h2 style="font-size: 3em">Insurance <br />Providers</h2>
            </div>
        </div>
        <div class="row insuranceSlider">
            <div class="col-lg-4 tile">
                <a href="https://www.aetna.com"><img src="../img/logos/AetnaLogo.png" width="100%"  /></a>
            </div>
            <div class="col-lg-4 tile">
                <a href="https://www.davisvision.com"><img src="../img/logos/DavisVisionLogo.png" width="100%"  /></a>
            </div>
            <div class="col-lg-4 tile" style="padding-top: 1em !important">
                <a href="https://www.vsp.com"><img class="adj" src="../img/logos/VSPLogo.png" width="200px"  /></a>
            </div>
            <div class="col-lg-4 tile" style="padding-top: 1em !important">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=32&cad=rja&uact=8&ved=2ahUKEwjx5v6MxYngAhWm3YMKHUAwDecQ_BcwH3oECAEQEQ&url=http%3A%2F%2Feyemedvisioncare.com%2F&usg=AOvVaw0EoG3k-YylY-39OtFCbs0T"><img class="adj" src="../img/logos/EyeMedLogo.png" width="190px"  /></a>
            </div>
            <div class="col-lg-4 tile">
                <a href="https://www.anthem.com"><img src="../img/logos/AnthemLogo.png" width="100%"  /></a>
            </div>
            <div class="col-lg-4 tile">
                <a href="https://www.medmutual.com"><img class="adj2" src="../img/logos/MediMutual.png" width="250px"  /></a>
            </div>
        </div>
    </div>
</section>