<section id="locations">
    <div class="container locationContainer">
        <div class="row">
            <div class="col-lg-6 locationBox" style="border-right: 1px solid black;">
                <img src="../img/icons/view.png" />
                <h2>Bellbrook Vision <br />Center</h2>
            </div>
            <div class="col-lg-6 locationBox" style="border-left: 1px solid black;">
                <img src="../img/icons/eyeglasses.png" />
                <h2> Springboro Eye <br />Care</h2>
            </div>
        </div>
    </div>
</section>