<section id="locations">
    <div class="container locationContainer">
        <div class="row">
            <div class="col-lg-6 locationBox" style="border-right: 1px solid black;">
                <a href="https://www.google.com/maps/place/Bellbrook+Vision+Center:+Dr.+Keith+A+Huelsman,+O.D./@39.637816,-84.103507,17z/data=!3m1!4b1!4m5!3m4!1s0x88408fd87583b6a7:0xa72b32fb9da7664d!8m2!3d39.6378119!4d-84.101313" ><img src="../img/icons/view.png" /></a>
                <h2>Bellbrook Vision <br />Center</h2>
            </div>
            <div class="col-lg-6 locationBox" style="border-left: 1px solid black;">
                <a href="https://www.google.com/maps/place/Keith+A.+Huelsman+OD/@39.6379312,-84.171535,12z/data=!4m8!1m2!2m1!1sspringboro+eye+care!3m4!1s0x88408a3584f42813:0x54c607653fa706ee!8m2!3d39.571284!4d-84.230946"><img src="../img/icons/eyeglasses.png" /></a>
                <h2> Springboro Eye <br />Care</h2>
            </div>
        </div>
    </div>
</section>