<section id="intromessage" >
    <div class="servBackground">
        <div class="container">
            <!-- start .row 1-->
        </div>

    </div>
    <div class="row servIntroBack" >
        <div class="col-lg-4 col-lg-offset-4 servMessage">
            <h1> Our Services </h1>
        </div>
    </div>
    <div class="container">
    <!-- services #1  -->
    <div class="row servOuterBox">
        <div class="col-lg-6 servImage1">
            <!-- Img settings and path in .css-->
        </div>
        <div class="col-lg-6 servDescription">
            <h2> The Finest Eye Exams </h2>
            <p>Providing a comfortable environment for all of our patients, at iDoctor eye care each individual is our biggest priority. Come see for yourself so you do not have to dread your doctors appointment any longer!</p>
            <a href="#" class="descLink"><div class="buttonController"><strong>Get In Touch</strong></div></a>
        </div>
    </div>
    <!-- services #2  -->
    <div class="row servOuterBox">
        <div class="col-lg-6 servDescription">
            <h2> Corneal Refractive Therapy</h2>
            <p> A little know process that has been nearly perfected by Dr. Keith Huelsman himself, CRT is a proven alternative to surgurys such as Lasik, and is noninvasive through the use of contacts put in overnight. Without the invasive (and expensive) surgury, CRT is a superior alternative.</p>
            <a href="#" class="descLink"><div class="buttonController"><strong>Read More</strong></div></a>
        </div>
        <div class="col-lg-6 servImage2">
            <!-- Img settings and path in .css-->
        </div>
    </div>
    <!-- services #3  -->
    <div class="row servOuterBox">
        <div class="col-lg-6 servImage3">
            <!-- Img settings and path in .css-->
        </div>
        <div class="col-lg-6 servDescription">
            <h2> High Quality Frames </h2>
            <p>We carry a large variety of frames, and have each pair custom fit to meet your needs. Some of our frames come from designers such as Fendi, Gucci, Tom Ford, and other top designers. All perscriptions can be made for all of these frames, along with preperation and pickup availible within 5-10 days. </p>
            <a href="#" class="descLink"><div class="buttonController"><strong>See Our Frames</strong></div></a>
        </div>
    </div>
    </div>
</section>