<section id="intromessage">
    <div class="insBackground">

    </div>
    <div class="row insIntroBack">
        <div class="col-lg-4 col-lg-offset-4 insMessage">
            <h1> Insurance Providers </h1>
        </div>
    </div>

<!-- Intro message -->
    <div class="container">
        <div class="row insIntro">
            <div class="col-lg-12">
                <h2>Having the right coverage</h2>
                <p>does drastically effect the care you choose for your eyes, and where you purchase your frames from. We work with a number of insurance agencies to make sure that we can provide the best care to a number of different patients. Check below to see if you are already ready to work with us, or find out more information about the companies we know.</p>
                <img style="width: 50px; padding-top: 40px; margin-bottom: 75px;" class="animation-target" src="../img/icons/downarrow.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <!-- row 1 insurance -->
        <div class="row">
            <div class="insBox1 col-lg-6">
                <img src="../img/logos/AetnaLogo.png" width="300px" style="padding-top: 15%;" />
            </div>
            <div class="insBox2 col-lg-6">
                <img src="../img/logos/AnthemLogo.png" width="300px" style="padding-top: 15%;" />
            </div>
        </div>
        <!-- row 2 insurance -->
        <div class="row">
            <div class="insBox2 col-lg-6">
                <img src="../img/logos/DavisVisionLogo.png" width="400px" style="padding-top: 15%;" />
            </div>
            <div class="insBox1 col-lg-6">
                <img src="../img/logos/VSPLogo.png" width="250px" style="padding-top: 8%;" />
            </div>
        </div>
        <!-- row 3 insurance -->
        <div class="row">
            <div class="insBox1 col-lg-6">
                <img src="../img/logos/MediMutual.png" width="400px" style="padding-top: 7%;" />
            </div>
            <div class="insBox2 col-lg-6">
                <img src="../img/logos/EyeMedLogo.png" width="200px" style="padding-top: 12%;" />
            </div>
        </div>
    </div>
</section>